#logo{   
    height: 300px;
    border-radius: 20px;
    border: 2px solid skyblue;
    padding: 5px;
    transition: 0.4s ease-in-out;
}
#logo:hover{
    transform: translateY(-15px);
}
body{
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    font-size: 120%;
}
h1{
    font-weight: 5000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(93, 93, 93);
    text-decoration: underline;
}
h3{
    color: rgb(152, 152, 152);
}
#pic{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
h4{
    font-size: small;
    color: gray;
    font-weight: bolder;
    transition: 0.1s ease-in-out; 
}
#h4:hover{
    transform: translateY(-15px);
}
#hga{
    transition: 0.4s ease-in-out;
}
#hga:hover{
    transform: translateY(-15px);
}
#abtme{
    border: 5px solid rgb(93,93,93);
    border-radius: 20px;
    padding-left: 20px;
}
#highedu{
    border: 5px solid rgb(93,93,93);
    border-radius: 20px;
    padding-left: 20px;
}
#wrk{
    border: 5px solid rgb(93,93,93);
    border-radius: 20px;
    padding-left: 20px;
}
#skills{
    border: 5px solid rgb(93,93,93);
    border-radius: 20px;
    padding-left: 20px;
}
#contact{
    border: 5px solid rgb(93,93,93);
    border-radius: 20px;
    padding-left: 20px;
}